#
.bundle 
.braid 
.cdpath 
.dbshell 
.bash_history 
.gdb_history 
.fastri-index 
.irb-history 
.irb.hist 
.irb_history 
.mysql_history 
.psql_history 
.sqlite_history 
.lesshst 
.pgadmin_histoqueries 
.monit.state 
.monit.pid 
.monit.id 
.m2sh