[submodule "emacs"]
	path = emacs
	url = https://github.com/technomancy/emacs-starter-kit.git
[submodule "emacs-tsnow/tsnow/anything-config"]
	path = emacs-tsnow/tsnow/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "git-prompt"]
	path = git-prompt
	url = git://github.com/lvv/git-prompt.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vim"]
	path = vim
	url = https://github.com/tmcw/.vim
[submodule "emacs-tsnow/.emacs.d/vendor/textmate.el"]
	path = emacs-tsnow/.emacs.d/vendor/textmate.el
	url = git://github.com/defunkt/textmate.el.git
[submodule "emacs-tsnow/tsnow/Tomorrow-Theme"]
	path = emacs-tsnow/tsnow/Tomorrow-Theme
	url = ./emacs-tsnow/tsnow/Tomorrow-Theme
